<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/itiProject?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="pojos/Porposa.hbm.xml"/>
    <mapping resource="pojos/Tagstable.hbm.xml"/>
    <mapping resource="pojos/Projectsimages.hbm.xml"/>
    <mapping resource="pojos/Replying.hbm.xml"/>
    <mapping resource="pojos/Skilltable.hbm.xml"/>
    <mapping resource="pojos/Categorytable.hbm.xml"/>
    <mapping resource="pojos/Details.hbm.xml"/>
    <mapping resource="pojos/Portofolioforuser.hbm.xml"/>
    <mapping resource="pojos/Portofolioiamges.hbm.xml"/>
    <mapping resource="pojos/Phoneofuser.hbm.xml"/>
    <mapping resource="pojos/Projectsforusers.hbm.xml"/>
    <mapping resource="pojos/Postforprojects.hbm.xml"/>
    <mapping resource="pojos/Users.hbm.xml"/>
    <mapping resource="pojos/Tagsofprojects.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
